.cartWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1000px;
}

.cartList {
  display: flex;
  flex-direction: column;

  gap: 30px;
  width: 80%;
}

.cartItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  padding: 20px;
  background-color: #0d1321;
  color: #748cab;
  font-family: "Roboto Condensed", sans-serif;
  border-radius: 10px;
  box-shadow: 3px 13px 30px 10px rgba(0, 0, 0, 0.75);
}
