.cartWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

p {
  color: #748cab;
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-size: 50px;
  text-align: center;
  font-weight: 900;
}

.cartList {
  display: flex;
  flex-direction: column;
  gap: 80px;
  width: 80%;
}

.cartItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  padding: 20px;
  background-color: #0d1321;
  color: #748cab;
  font-family: "Roboto Condensed", sans-serif;
  border-radius: 10px;
  box-shadow: 3px 13px 30px 10px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  padding: 50px;
  border: 1px solid #748cab;

}

span {
  font-size: 30px;
  font-family: "Alumni Sans Pinstripe", sans-serif;
font-weight: 900;
}

.totalSection {
  background-color: #0d1321;
    border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  border: 1px solid #748cab;
  box-shadow: 3px 13px 30px 10px rgba(0, 0, 0, 0.75);
  margin-top: 50px;
  padding: 50px;
  width: 60%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkoutButton {
  background-color: #748cab;
  color: #0d1321;
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-size: 30px;
  padding: 20px 40px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: 900;
}